@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic'
@import './sanitize'
@import './prism'

$mainColor = #007CD1
$textColor = #607F94
$grayColor = lighten($textColor, 25)
$lightGrayColor = lighten($textColor, 45)
$headColor = darken($textColor, 25)
$linkColor = $mainColor
$backgroundColor = #fff
$codeBackgroundColor = lighten($textColor, 47.5)

$contentWidth = 800px

html,
body
  min-width 100%
  min-height 100%
  margin 0
  background $backgroundColor
  color $textColor
  font-size 16px
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;

a
  display inline-block
  color $mainColor
  &:hover
    text-decoration underline

#globalHeader
  width 100%
  margin-bottom 64px

#globalFooter
  width 100%
  margin-bottom 2rem

#globalContent
  width $contentWidth
  margin 0 auto 4rem
  padding 0 2rem
  #globalContentMain
    width 100%
  #globalContentSub
    width 100%

@media (max-width: 480px)
  #globalContent
    width 100%
    padding 0 1rem

@import './mixins/articleBodyMixin'

@import './partials/articleDetail'
@import './partials/articleMeta'
@import './partials/articleSummaries'
@import './partials/footer'
@import './partials/header'
@import './partials/hotArticles'
@import './partials/neighborArticlesNavigation'
@import './partials/pagination'
