.articleMeta
  line-height 32px
  color $grayColor
  &__author
  &__date
  &__shareCount
  &__tags
    display inline-block
    margin-left 1rem
    &__svg
      display inline-block
      vertical-align top
      width 20px
      height 20px
      margin 6px 4px 0 0
      &__path
        fill $grayColor
    &__text
      display inline-block
      line-height 32px
  &__author
    margin-left 0
    &__image
      vertical-align top
      width 32px
      height 32px
      margin-right 4px
      border-radius 50%
  &__shareCount
    &__svg
      width 24px
