.articleSummaries
  &__item
    margin-bottom 2rem
    padding-bottom 2rem
    border-bottom 1px $lightGrayColor solid
    &:last-child
      margin-bottom 0
      padding-bottom 0
      border-bottom none
    &__title
      margin-bottom 1rem
      font-size 2rem
    &__summary
      margin 1rem 0
    &__readmore
      text-align right
