.articleSummaries
  &__item
    margin-bottom 2rem
    padding-bottom 2rem
    border-bottom 1px $grayColor dashed
    &:last-child
      padding-bottom 2rem
      border-bottom none
    &__title
      margin-bottom 1rem
      font-size 2rem
    &__meta
      margin-bottom 1rem
      color $grayColor
    &__summary
      margin-bottom 1rem
    &__readmore
      text-align right
