<section class="featuredArticles">
  <h1>Featured Articles</h1>

  <div class="featuredArticles__body">
    <ul class="featuredArticles__body__articles">
      {{#foreach posts}}
        <li class="featuredArticles__body__articles__item">
          {{title}}
        </li>
      {{/foreach}}
    </ul>
  </div>
</section>
