<section class="header">
  <div class="header__inner">
    <h1 class="header__inner__title">
      <a class="header__inner__title__link" href="{{@blog.url}}">
        {{@blog.title}}
      </a>
    </h1>
  </div>
</section>
