.hotArticles
  &__title
    margin-bottom 1rem
    color $headColor
    font-size 1.5rem
  &__body
    &__articles
      list-style-type none
      &__item
        min-height 64px
        margin-bottom 1rem
        &__link
          display block
          position relative
          width 100%
          height 100%
          padding-left 64px + 16px
          &__image
            position absolute
            top 0
            left 0
            width 64px
            height 64px
            background-image url('/assets/img/now-printing.svg')
            background-position 50% 50%
            background-size cover
            z-index 1
          // &__meta
