<section class="hotArticles">
  <h1 class="hotArticles__title">
    Hot Articles
  </h1>

  <div class="hotArticles__body">
    <ul class="hotArticles__body__articles" id="hotArticles">

    </ul>
  </div>
</section>
