.neighborArticlesNavigation
  margin 2rem 0
  padding 2rem 0
  border-top 1px $lightGrayColor solid
  border-bottom 1px $lightGrayColor solid
  &__older
    margin-top 1rem
    text-align right
    &:first-child
      margin-top auto
