.pagination
  margin 2rem 0
  padding 2rem 0
  border-top 1px $lightGrayColor solid
  border-bottom 1px $lightGrayColor solid
  text-align center
  &__pageNumber,
  &__newer,
  &__older
    display inline-block
  &__newer
    margin-right 1rem
  &__older
    margin-left 1rem
