<section class="profile">
  <h1>{{author.name}}</h1>

  <div class="profile__meta">
    <img class="profile__meta__image" src="{{author.image}}" alt="{{author.name}}">

    <span class="profile__meta__bio">
      {{author.bio}}
    </span>
  </div>
</section>
